/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Glory', sans-serif;;
}
/* General */
.container {
    max-width: 1330px;
    padding:0 30px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header */
.header {
    background-color: #22396a;
    padding: 30px 0;
}
.brand img {
    width: 60px;
    height: 60px;
    border-radius:  50%;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 50px;
}
#green {
    color: limegreen;
}
/*section*/
.heading h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    font-weight: bold;
    color: maroon;

}
.gallery-section .flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.col1-6 {
    width: 33.33%;
    margin-bottom: 30px;
}
/*footer*/
.footer {
    background-color: #22396a;
    padding: 20px 0;
}
.info {
    color: white;
}
.nav-footer a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}